# Listas
Son contenedores que permiten almacenar una coleccion de objetos en un orden deerminado

In [19]:
L1 = [] #lista vacia

In [20]:
L2 = ['a','e','i','o','u']

In [21]:
L3 = [1,2,3,4,5]

In [22]:
L4 = ['a',5,True,60.89]

In [23]:
L5 = [0] * 10
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [24]:
L4[0]

'a'

In [25]:
L4[1]

5

In [26]:
L5[4] = 3.1415
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [27]:
L4[0:2]

['a', 5]

In [28]:
L5[1:4] = [1,2,3]
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [29]:
L5.append(8)
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, 8]

In [30]:
L5.remove(3) #busca el numero 3 en la lista
L5

[0, 1, 2, 3.1415, 0, 0, 0, 0, 0, 8]

In [31]:
L5[1::2]

[1, 3.1415, 0, 0, 8]

In [32]:
L5[::2]

[0, 2, 0, 0, 0]

In [33]:
L5[-1]

8

In [34]:
8 in L5

True

# BUCLES

In [35]:
L  = [1,2,3,4,5,6]

In [36]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [37]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [38]:
for letter in "Santiago":
    print(letter)

S
a
n
t
i
a
g
o

In [39]:
notas = [3.5,6.7,8,9,4.5]
suma = 0 
for nota in notas:
    suma += nota
print('total: ',suma)
print('media: ' , suma/len(notas))

total:  31.7
media:  6.34

In [40]:
count = 0
while count < 10:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9

In [41]:
primos = [2,3,5,7,11,13,17,19,23,29]

for idx,p in enumerate(primos):
    print(idx,p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [42]:
for idx in range(len(primos)):
    print(idx, primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

# TUPLA

Una tupla es una coleccion de objetos que no se puede modificar (tiene tamaÃ±o fijo y contenido fijo)

In [43]:
p1 = (1,)

In [44]:
p1

(1,)

In [45]:
p3 = (1,2,'c',3.1415)

In [46]:
p3

(1, 2, 'c', 3.1415)

In [47]:
p3[0]

1

In [48]:
p3[:2]

(1, 2)

In [49]:
a,b,c,d = p3

In [50]:
a

1

In [51]:
b

2

In [52]:
c

'c'

In [53]:
d

3.1415

In [54]:
l3 = list(p3)
l3

[1, 2, 'c', 3.1415]

In [57]:
p5 = tuple(L5)
p5

(0, 1, 2, 3.1415, 0, 0, 0, 0, 0, 8)

In [59]:
numeros = input("Escribe numeros separado por comas.: ")
numerosL = numeros.split(",")
numerosT = tuple(numerosL)
print("Lista: ", numerosL)
print("Tupla: ", numerosT)

Lista:  ['1', '2', '3', '4', '5']
Tupla:  ('1', '2', '3', '4', '5')

In [61]:
for i in range(len(numerosL)):
    print(int(i))

0
1
2
3
4

# Diccionario
Coleccion no ordenada de pares de valores: clavea <-> valores. Se indexa no por posicion si no por claves

In [66]:
nombre = input("Introduce tu nombre: ")
print("Hola %s" %nombre)

Hola santiago

In [69]:
print("Estos son los numeros primos: %s" %primos)

Estos son los numeros primos: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [70]:
print("Esto esun numero %d" %suma)

Esto esun numero 31

In [74]:
media = suma/10
print("Esto es un numero decimal: %f" %media)

Esto es un numero decimal: 3.170000

In [75]:
edad = {"Juan":30, 
        "Maria":20, 
        "Ricardo":53, 
        "Antonio":45
       }
edad

{'Juan': 30, 'Maria': 20, 'Ricardo': 53, 'Antonio': 45}

In [77]:
edad["Juan"]

30

In [78]:
edad["Juan"] = 28

In [79]:
edad

{'Juan': 28, 'Maria': 20, 'Ricardo': 53, 'Antonio': 45}

In [81]:
edad.keys()

dict_keys(['Juan', 'Maria', 'Ricardo', 'Antonio'])

In [82]:
edad.values()

dict_values([28, 20, 53, 45])

In [83]:
len(edad)

4

In [85]:
"Pepe" in edad

False

In [86]:
"Maria" in edad

True

In [87]:
del edad["Antonio"]

In [88]:
edad

{'Juan': 28, 'Maria': 20, 'Ricardo': 53}